/*----------------------------------------*/
/*  12. WIDGETS CSS START
/*----------------------------------------*/

.info-social-widget {
  ul {
    display: flex;
    align-items: center;

    a {
      font-size: 18px;
      padding: 0 10px;
      transition: all 0.3s;

      &:hover {
        color: var(--primary);
      }
    }
  }
}


// Monster Widgets
.default-sidebar__wrapper {
  select {
    width: 100%;
    padding: 10px 12px;
    color: var(--black-2);
    border: 1px solid #ddd;
    text-transform: capitalize;
    border-radius: 5px;
    outline: none;
    appearance: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23212121'%3E%3Cpath d='M24 24H0V0h24v24z' fill='none' opacity='1'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'/%3E%3C/svg%3E");
    background-position-x: calc(100% - 7px);
    background-position-y: 50%;
    background-repeat: no-repeat;
  }

  .widget {
    &_calendar {
      table {
        width: 100%;
        display: table;

        #today {
          color: var(--primary);
          font-weight: 600;
        }
      }

      caption {
        font-weight: 600;
        margin-top: 15px;
      }
    }

    &_pages,
    &_meta,
    &_nav_menu,
    &_recent_entries {
      li {
        display: grid;

        a {
          color: var(--black-2);
          padding: 8px 0;
          text-transform: capitalize;

          &:hover {
            color: var(--primary);
          }
        }
      }

      .sub-menu,
      .children {
        margin-left: 15px;
      }
    }

    &_categories {
      li {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        color: var(--black-2);

        a {
          padding: 5px 0;
          text-transform: capitalize;

          &:hover {
            color: var(--primary);
          }
        }
      }

      .children {
        grid-column: 1/-1;
        margin-left: 15px;
      }
    }

    &_tag_cloud .tagcloud {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;

      a {
        background-color: #EFEFEF;
        padding: 8px 10px;
        font-size: 12px !important;
        text-transform: capitalize;
        color: var(--black-2);
        font-weight: 500;
        transition: .5s;

        &:hover {
          color: var(--white);
          background-color: var(--primary);
        }
      }
    }

    &_archive {
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--black-2);

        a {
          padding: 5px 0;
          text-transform: capitalize;

          &:hover {
            color: var(--primary);
          }
        }
      }
    }

    &_recent_comments {
      ul {
        gap: 10px;
        display: grid;
      }

      li {
        list-style: none;
        font-weight: 400;
        color: var(--black-2);

        a {
          font-weight: 500;
          color: var(--black-2);

          &:hover {
            color: var(--primary);
          }
        }
      }
    }

    &_rss {
      ul {
        gap: 20px;
        display: grid;

        li {
          list-style: none;
        }

        a {
          font-weight: 500;
          color: var(--black-2);

          &:hover {
            color: var(--primary);
          }
        }

        cite {
          margin-top: 3px;
          display: block;
          font-weight: 600;
        }

        .rss-date {
          display: block;
          margin-top: 5px;
          margin-bottom: 10px;
        }
      }
    }

    &_text {
      .textwidget {
        img {
          max-width: 100%;
          height: auto;
        }

        p {
          img {
            margin-top: 15px;
            margin-bottom: 15px;
          }
        }
      }

    }

    &_media_gallery {
      .gallery {
        gap: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      figure {
        margin: 0;
      }
    }
  }
}