.elementor-3004 .elementor-element.elementor-element-bc9e407 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 50px;
    --padding-right: 50px;
    --z-index: 11;
}

.elementor-3004 .elementor-element.elementor-element-b7e4b91 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-widget-wcf--site-logo .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-3004 .elementor-element.elementor-element-ca29718 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 0px 0px 1px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 0px;
    --border-left-width: 1px;
    border-color: #ECEDEF;
    --border-color: #ECEDEF;
    --padding-top: 17px;
    --padding-bottom: 18px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-3004 .elementor-element.elementor-element-07dd4e9 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 35px;
    --padding-right: 0px;
}

.elementor-3004 .elementor-element.elementor-element-4b0620a .desktop-menu-active .sub-menu {
    background-color: #FFFFFF;
    width: 300px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ECEDEF;
    padding: 19px 17px 19px 17px;
    border-radius: 8px 8px 8px 8px;
}

.elementor-3004 .elementor-element.elementor-element-4b0620a .desktop-menu-active .sub-menu .menu-item a:hover,
.elementor-3004 .elementor-element.elementor-element-4b0620a .desktop-menu-active .sub-menu .menu-item a:focus {
    background-color: #F3F3F37A;
    color: #525869;
    fill: #525869;
}

.elementor-3004 .elementor-element.elementor-element-4b0620a .mobile-menu-active .wcf-nav-menu-container,
.elementor-3004 .elementor-element.elementor-element-4b0620a .mobile-menu-active .menu-item-has-children .sub-menu {
    background-color: #F5F5F5;
}

.elementor-3004 .elementor-element.elementor-element-4b0620a .mobile-menu-active a.nav-back-link {
    background-color: #0047BA;
    font-family: "DM Sans", Sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    fill: #121212;
    color: #121212;
}

.elementor-3004 .elementor-element.elementor-element-4b0620a {
    z-index: 9;
}

.elementor-3004 .elementor-element.elementor-element-4b0620a .desktop-menu-active .menu-item a {
    font-family: "DM Sans", Sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3em;
    padding: 15px 15px 15px 15px;
    fill: #121212;
    color: #121212;
}

.elementor-3004 .elementor-element.elementor-element-4b0620a .desktop-menu-active .menu-item a:hover,
.elementor-3004 .elementor-element.elementor-element-4b0620a .desktop-menu-active .menu-item a:focus {
    color: #525869;
    fill: #525869;
}

.elementor-3004 .elementor-element.elementor-element-4b0620a .desktop-menu-active .sub-menu .menu-item a {
    font-family: "DM Sans", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.3em;
    border-style: none;
    padding: 8px 10px 8px 15px;
    border-radius: 8px 8px 8px 8px;
    fill: #121212;
    color: #121212;
}

.elementor-3004 .elementor-element.elementor-element-4b0620a .mobile-menu-active .menu-item a {
    font-family: "DM Sans", Sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    fill: #121212;
    color: #121212;
}

.elementor-3004 .elementor-element.elementor-element-4b0620a .mobile-menu-active .menu-item a,
.elementor-3004 .elementor-element.elementor-element-4b0620a .mobile-menu-active .menu-item-has-children .sub-menu .menu-item a {
    border-style: solid;
    border-color: #ECEDEF;
}

.elementor-3004 .elementor-element.elementor-element-4b0620a .mobile-menu-active .menu-item a:hover,
.elementor-3004 .elementor-element.elementor-element-4b0620a .mobile-menu-active .menu-item a:focus {
    color: #525869;
    fill: #525869;
}

.elementor-3004 .elementor-element.elementor-element-4b0620a .wcf-menu-hamburger {
    border-style: solid;
    border-color: #ECEDEF;
    fill: #121212;
    color: #121212;
}

.elementor-3004 .elementor-element.elementor-element-4b0620a .wcf-menu-close {
    border-style: solid;
    border-color: #0715361A;
    fill: #121212;
    color: #121212;
}

.elementor-3004 .elementor-element.elementor-element-4b0620a .wcf-menu-close:hover,
.elementor-3004 .elementor-element.elementor-element-4b0620a .wcf-menu-close:focus {
    color: #0047BA;
    fill: #0047BA;
}

.elementor-3004 .elementor-element.elementor-element-19fa0ea {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --align-items: center;
    --gap: 23px 23px;
    --row-gap: 23px;
    --column-gap: 23px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-3004 .elementor-element.elementor-element-22af3b4 .search--wrapper.style-full-screen .wcf-search-container {
    background-color: #121212;
}

.elementor-3004 .elementor-element.elementor-element-22af3b4 input[type="search"].wcf-search-form__input {
    font-family: "DM Sans", Sans-serif;
    color: #121212;
    fill: #121212;
}

.elementor-3004 .elementor-element.elementor-element-22af3b4 .wcf-search-form {
    background-color: #FFFFFF;
    border-color: #121212;
}

.elementor-3004 .elementor-element.elementor-element-22af3b4 .wcf-search-form__submit {
    color: #121212;
    fill: #121212;
    background-color: #0047BA;
}

.elementor-3004 .elementor-element.elementor-element-22af3b4 .wcf-search-toggle {
    height: 33px;
    width: 33px;
    color: #121212;
    fill: #121212;
    background-color: #02010100;
    font-size: 20px;
}

.elementor-3004 .elementor-element.elementor-element-22af3b4 .style-full-screen .toggle--close {
    color: #FFFFFF;
    fill: #FFFFFF;
    background-color: #02010100;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 100%;
}

.elementor-3004 .elementor-element.elementor-element-22af3b4 .style-full-screen .toggle--close:hover {
    color: #0047BA;
    fill: #0047BA;
}

.elementor-3004 .elementor-element.elementor-element-22af3b4 .style-full-screen .toggle--close:focus {
    color: #0047BA;
    fill: #0047BA;
}

.elementor-widget-icon-box.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-icon-box.elementor-view-framed .elementor-icon,
.elementor-widget-icon-box.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-primary);
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-widget-icon-box .elementor-icon-box-title {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-box .elementor-icon-box-title,
.elementor-widget-icon-box .elementor-icon-box-title a {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-icon-box .elementor-icon-box-description {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-3004 .elementor-element.elementor-element-b160426>.elementor-widget-container {
    margin: 0px 6px 0px 0px;
}

.elementor-3004 .elementor-element.elementor-element-b160426 .elementor-icon-box-wrapper {
    text-align: right;
}

.elementor-3004 .elementor-element.elementor-element-b160426 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: #525869;
}

.elementor-3004 .elementor-element.elementor-element-b160426 .elementor-icon-box-title,
.elementor-3004 .elementor-element.elementor-element-b160426 .elementor-icon-box-title a {
    font-family: "DM Sans", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3em;
}

.elementor-3004 .elementor-element.elementor-element-b160426 .elementor-icon-box-description {
    color: #121212;
    font-family: "DM Sans", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3em;
}

.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a:not(.wcf-btn-mask, .wcf-btn-ellipse),
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a.wcf-btn-mask:after,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a.wcf-btn-ellipse:before {
    background-color: #0047BA;
}

.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a:not(.wcf-btn-mask, .btn-item, .btn-parallal-border, .btn-rollover-cross, .wcf-btn-ellipse):after,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a.wcf-btn-mask,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn .btn-hover-bgchange span,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn .btn-rollover-cross:hover,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn .btn-parallal-border:hover,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a.wcf-btn-ellipse:hover:before,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a.btn-hover-none:hover {
    background-color: #FFFFFF;
}

.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a {
    font-family: "DM Sans", Sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3em;
    fill: #121212;
    color: #121212;
    padding: 17.4px 25.65px 17.4px 25.65px;
}

.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a.wcf-btn-underline:after {
    background-color: #121212;
}

.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a.wcf-btn-mask:after {
    color: #121212;
    padding: 17.4px 25.65px 17.4px 25.65px;
}

.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a:hover,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a:focus {
    color: #121212;
    fill: #121212;
}

.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a.wcf-btn-underline:hover:after {
    background-color: #121212;
}

.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a:hover,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a:focus,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a:hover.btn-parallal-border:before,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a:hover.btn-parallal-border:after,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a:hover.btn-rollover-cross:before,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a:hover.btn-rollover-cross:after,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a.btn-hover-none:hover {
    border-color: #121212;
}

.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a.btn-parallal-border:before,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a.btn-parallal-border:after,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a.btn-rollover-cross:before,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a.btn-rollover-cross:after {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #0047BA;
}

.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a:not(.wcf-btn-ellipse, .wcf-btn-circle, .wcf-btn-oval) {
    border-radius: 0px 0px 0px 0px;
}

.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a.btn-parallal-border:before,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a.btn-parallal-border:after {
    border-radius: 0px 0px 0px 0px;
}

.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a.btn-rollover-cross:before,
.elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a.btn-rollover-cross:after {
    border-radius: 0px 0px 0px 0px;
}

@media(max-width:1366px) {
    .elementor-3004 .elementor-element.elementor-element-bc9e407 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
}

@media(max-width:1200px) {
    .elementor-3004 .elementor-element.elementor-element-07dd4e9 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 25px;
        --padding-right: 0px;
    }
    .elementor-3004 .elementor-element.elementor-element-19fa0ea {
        --gap: 15px 15px;
        --row-gap: 15px;
        --column-gap: 15px;
    }
}

@media(max-width:1024px) {
    .elementor-3004 .elementor-element.elementor-element-ca29718 {
        --padding-top: 15px;
        --padding-bottom: 15px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-3004 .elementor-element.elementor-element-07dd4e9 {
        --align-items: flex-end;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-3004 .elementor-element.elementor-element-07dd4e9.e-con {
        --order: 99999/* order end hack */
        ;
    }
    .elementor-3004 .elementor-element.elementor-element-4b0620a .mobile-menu-active .menu-item a {
        font-size: 14px;
        line-height: 1.3em;
        padding: 15px 15px 15px 15px;
    }
    .elementor-3004 .elementor-element.elementor-element-4b0620a .mobile-menu-active .menu-item a,
    .elementor-3004 .elementor-element.elementor-element-4b0620a .mobile-menu-active .menu-item-has-children .sub-menu .menu-item a {
        border-width: 0px 0px 1px 0px;
    }
    .elementor-3004 .elementor-element.elementor-element-4b0620a .wcf-menu-hamburger {
        font-size: 22px;
        border-width: 1px 1px 1px 1px;
        border-radius: 0px 0px 0px 0px;
        padding: 5px 10px 6.5px 10px;
    }
    .elementor-3004 .elementor-element.elementor-element-4b0620a .wcf-menu-close {
        border-width: 1px 1px 1px 1px;
    }
    .elementor-3004 .elementor-element.elementor-element-4b0620a .mobile-menu-active a.nav-back-link {
        font-size: 14px;
    }
    .elementor-3004 .elementor-element.elementor-element-19fa0ea {
        --gap: 20px 20px;
        --row-gap: 20px;
        --column-gap: 20px;
    }
    .elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a {
        font-size: 12px;
        padding: 9.5px 15px 9.5px 15px;
    }
    .elementor-3004 .elementor-element.elementor-element-95fd696 .wcf__btn a.wcf-btn-mask:after {
        padding: 9.5px 15px 9.5px 15px;
    }
}

@media(max-width:880px) {
    .elementor-3004 .elementor-element.elementor-element-22af3b4>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-3004 .elementor-element.elementor-element-b160426>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-3004 .elementor-element.elementor-element-bc9e407 {
        --flex-wrap: nowrap;
        --padding-top: 15px;
        --padding-bottom: 15px;
        --padding-left: 15px;
        --padding-right: 15px;
    }
    .elementor-3004 .elementor-element.elementor-element-b7e4b91 {
        --width: 20%;
    }
    .elementor-3004 .elementor-element.elementor-element-ca29718 {
        --width: 80%;
        --flex-wrap: nowrap;
        border-width: 0px 0px 0px 0px;
        --border-top-width: 0px;
        --border-right-width: 0px;
        --border-bottom-width: 0px;
        --border-left-width: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-3004 .elementor-element.elementor-element-07dd4e9 {
        --width: 20%;
    }
    .elementor-3004 .elementor-element.elementor-element-4b0620a .wcf-menu-hamburger {
        font-size: 20px;
        padding: 5.3px 10px 6.8px 10px;
    }
    .elementor-3004 .elementor-element.elementor-element-19fa0ea {
        --width: 80%;
        --gap: 0px 0px;
        --row-gap: 0px;
        --column-gap: 0px;
        --flex-wrap: nowrap;
    }
    .elementor-3004 .elementor-element.elementor-element-22af3b4.elementor-element {
        --order: 99999/* order end hack */
        ;
    }
    .elementor-3004 .elementor-element.elementor-element-22af3b4 .wcf-search-toggle {
        font-size: 16px;
    }
    .elementor-3004 .elementor-element.elementor-element-b160426 .elementor-icon-box-wrapper {
        text-align: right;
    }
    .elementor-3004 .elementor-element.elementor-element-b160426 .elementor-icon-box-description {
        font-size: 16px;
    }
}

@media(min-width:768px) {
    .elementor-3004 .elementor-element.elementor-element-b7e4b91 {
        --width: 7.3%;
    }
    .elementor-3004 .elementor-element.elementor-element-ca29718 {
        --width: 92.7%;
    }
    .elementor-3004 .elementor-element.elementor-element-07dd4e9 {
        --width: 60%;
    }
    .elementor-3004 .elementor-element.elementor-element-19fa0ea {
        --width: 40%;
    }
}

@media(max-width:1366px) and (min-width:768px) {
    .elementor-3004 .elementor-element.elementor-element-b7e4b91 {
        --width: 10%;
    }
    .elementor-3004 .elementor-element.elementor-element-ca29718 {
        --width: 90%;
    }
}

@media(max-width:1200px) and (min-width:768px) {
    .elementor-3004 .elementor-element.elementor-element-b7e4b91 {
        --width: 11%;
    }
    .elementor-3004 .elementor-element.elementor-element-ca29718 {
        --width: 89%;
    }
    .elementor-3004 .elementor-element.elementor-element-07dd4e9 {
        --width: 57%;
    }
    .elementor-3004 .elementor-element.elementor-element-19fa0ea {
        --width: 43%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-3004 .elementor-element.elementor-element-b7e4b91 {
        --width: 15%;
    }
    .elementor-3004 .elementor-element.elementor-element-ca29718 {
        --width: 85%;
    }
    .elementor-3004 .elementor-element.elementor-element-07dd4e9 {
        --width: 9%;
    }
    .elementor-3004 .elementor-element.elementor-element-19fa0ea {
        --width: 91%;
    }
}

@media(max-width:880px) and (min-width:768px) {
    .elementor-3004 .elementor-element.elementor-element-b7e4b91 {
        --width: 20%;
    }
    .elementor-3004 .elementor-element.elementor-element-ca29718 {
        --width: 80%;
    }
    .elementor-3004 .elementor-element.elementor-element-07dd4e9 {
        --width: 12%;
    }
    .elementor-3004 .elementor-element.elementor-element-19fa0ea {
        --width: 88%;
    }
}

/* Start custom CSS for wcf--nav-menu, class: .elementor-element-4b0620a */

.elementor-3004 .elementor-element.elementor-element-4b0620a .wcf__nav-menu.desktop-menu-active .menu-item-has-children .sub-menu {
    box-shadow: none;
}

.elementor-3004 .elementor-element.elementor-element-4b0620a ::before {
    margin-right: 5px;
}

/* End custom CSS */

/* Start custom CSS for container, class: .elementor-element-bc9e407 */

@media only screen and (min-width: 1367px) and (max-width: 1600px) {
    .elementor-3004 .elementor-element.elementor-element-bc9e407 {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* End custom CSS */